<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
</head>
  <body>
  <table border="1">
      <tr>


    <h1><a href="/add">Add Appartment </a></h1>



          <td>

    <form method="POST" action="/">
        <label>Price Range</label></br>


      <input id="price" type="text" onchange="criteria()"/></br></br></br>
        <label>Area Critera</label></br>
      <input id="area" type="text" onchange="criteria()"/></br></br></br>
        <label>nb Pieces</label></br>
      <input id="pieces" type="text" onchange="criteria()"/></br></br></br>
        <select name="neighborhood_criteria" id="neighborhood_criteria" onchange="criteria()">
         <option value="All">All</option>
        <option value="1st Arr">1st Arr</option>
<option value="2nd Arr">2nd Arr</option>
<option value="3rd Arr">3rd Arr</option>
<option value="4th Arr">4th Arr</option>
<option value="5th Arr">5th Arr</option>
<option value="6th Arr">6th Arr</option>
<option value="7th Arr">7th Arr</option>
<option value="8th Arr">8th Arr</option>
<option value="9th Arr">9th Arr</option>
<option value="10th Arr">10th Arr</option>
<option value="11th Arr">11th Arr</option>
<option value="12th Arr">12th Arr</option>
<option value="13th Arr">13th Arr</option>
<option value="14th Arr">14th Arr</option>
<option value="15th Arr">15th Arr</option>
<option value="16th Arr">16th Arr</option>
<option value="17th Arr">17th Arr</option>
<option value="18th Arr">18th Arr</option>
<option value="19th Arr">19th Arr</option>
<option value="20th Arr">20th Arr</option>
            </select>
    </form>
          </td>
          <td>

    <form id="search" method="Post" action="/search">
        <
        <input type="hidden" value="" name="pricemin" id="pricemin">

        <input type="hidden" value="" name="pricemax" id="pricemax">

        <input type="hidden" value="" name="piecesmax" id="piecesmax">
        <input type="hidden" value="" name="piecesmin" id="piecesmin">

        <input type="hidden" value="" name="m2min" id="m2min">

        <input type="hidden" value="" name="m2max" id="m2max">

        <label>Price Range</label></br>
      <input id="srcprice" onload="criteria1()" onchange="criteria1()"/></br></br></br>
        <label>Area Critera</label></br>
      <input id="srcarea" type="text" onchange="criteria1()"/></br></br></br>
        <label>nb Pieces</label></br>
      <input id="srcpieces" type="text" onchange="criteria1()"/></br></br></br>
       <input id="searchdb" type="submit" value="search" name="search" action="search"/>
        <input  name="export" type="hidden" value="" name="search" action="search"/>

    </form>
          </td>
          <td>

    <form id="export1" method="Post" action="/search">
        <input type="hidden" value="" name="pricemin" id="pricemin1">

        <input type="hidden" value="" name="pricemax" id="pricemax1">

        <input type="hidden" value="" name="piecesmax" id="piecesmax1">
        <input type="hidden" value="" name="piecesmin" id="piecesmin1">

        <input type="hidden" value="" name="m2min" id="m2min1">

        <input type="hidden" value="" name="m2max" id="m2max1">



       <input id="export" name="export" type="submit" value="export csv and Json" name="search" action="search"/>


    </form>
          </td>

 </tr>
 </table>

    <h1>Appartments at paris</h1>
  <div class="container">

  <table class="table table-striped" id="listing">


       <tr><th>Title</th>

       <th>Price </th>

        <th>Area in meter square </th>

        <th>Nb of Pieces </th>

        <th>Neighborhood </th>

           <th>Link </th><th></th><th></th></tr>

{% for i in range(50)%}


        <tr>
         <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id">
        <td> {{df.iat[i, 1]}}</td>
        <td>{{df.iat[i, 2]}}</td>
            <td>{{df.iat[i, 5]}}</td>
            <td>{{df.iat[i, 6]}}</td>
            <td>{{df.iat[i, 3]}}</td>
            <td> <a href="{{df.iat[i, 4]}}">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id_up">
              <input type="hidden" value="{{df.iat[i, 1]}}" name="listing_title_up">

      <input type="hidden" value="{{df.iat[i, 2]}}" name="listing_price_up">

        <input type="hidden" value="{{df.iat[i, 5]}}" name="listing_m2_up">

        <input type="hidden" value="{{df.iat[i, 6]}}" name="listing_pieces_up">

        <input type="hidden" value="{{df.iat[i, 3]}}" name="listing_neighborhood_up">

        <input type="hidden" value="{{df.iat[i, 4]}}" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id_del">
              <input type="hidden" value="{{df.iat[i, 1]}}" name="listing_title_del">

      <input type="hidden" value="{{df.iat[i, 2]}}" name="listing_price_del">

        <input type="hidden" value="{{df.iat[i, 5]}}" name="listing_m2_del">

        <input type="hidden" value="{{df.iat[i, 6]}}" name="listing_pieces_del">

        <input type="hidden" value="{{df.iat[i, 3]}}" name="listing_neighborhood_del">

        <input type="hidden" value="{{df.iat[i, 4]}}" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      {% if df.shape[0] > b %}
      {% for i in range(b+1, df.shape[0], 1)%}


        <tr>
         <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id">
        <td> {{df.iat[i, 1]}}</td>
        <td>{{df.iat[i, 2].replace('€', '')}}</td>
            <td>{{df.iat[i, 5]}}</td>
            <td>{{df.iat[i, 6]}}</td>
            <td>{{df.iat[i, 3]}}</td>
            <td> <a href="{{df.iat[i, 4]}}">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id_up">
              <input type="hidden" value="{{df.iat[i, 1]}}" name="listing_title_up">

      <input type="hidden" value="{{df.iat[i, 2]}}" name="listing_price_up">

        <input type="hidden" value="{{df.iat[i, 5]}}" name="listing_m2_up">

        <input type="hidden" value="{{df.iat[i, 6]}}" name="listing_pieces_up">

        <input type="hidden" value="{{df.iat[i, 3]}}" name="listing_neighborhood_up">

        <input type="hidden" value="{{df.iat[i, 4]}}" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="{{df.iat[i, 0]}}" name="title_id_del">
              <input type="hidden" value="{{df.iat[i, 1]}}" name="listing_title_del">

      <input type="hidden" value="{{df.iat[i, 2]}}" name="listing_price_del">

        <input type="hidden" value="{{df.iat[i, 5]}}" name="listing_m2_del">

        <input type="hidden" value="{{df.iat[i, 6]}}" name="listing_pieces_del">

        <input type="hidden" value="{{df.iat[i, 3]}}" name="listing_neighborhood_del">

        <input type="hidden" value="{{df.iat[i, 4]}}" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
       {% endfor %}
      {% endif %}

    </table>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
  <script>
      function max_price() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
             if (td) {

                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.max.apply(null, listing_price));
      }

      function min_price() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
             if (td) {

                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.min.apply(null, listing_price));
      }

      function min_area() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
             if (td) {

                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.min.apply(null, listing_price));
      }
      function max_area() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
             if (td) {
                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.max.apply(null, listing_price));
      }

      function max_pieces() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
             if (td) {

                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.max.apply(null, listing_price));
      }

      function min_pieces() {
        var input, filter, table, tr, td, i,j, txtValue;
        var listing_price = [];
         table = document.getElementById("listing");
        tr = table.getElementsByTagName("tr");
        j=0;
         for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
             if (td) {

                 txtValue = td.textContent || td.innerText;

                 listing_price.push(txtValue);
             }

             }
        return parseInt(Math.min.apply(null, listing_price));
      }
 </script>


    <script>

      function criteria() {
         var input, filter, table, neighbour, voisin,all, tr, td_price,td_area, td_pieces, td_neighbour, i, txtValue, td_pricev,td_areav, td_piecesv, td_neighbourv;
  var price = [];
  var pieces = [];
  var area = [];
  price= document.getElementById("srcprice").value.split(',');
  pieces= document.getElementById("srcpieces").value.split(',');
   area= document.getElementById("srcarea").value.split(',');
  voisin = document.getElementById("neighborhood_criteria");
  neighbour = voisin.options[voisin.selectedIndex].value;
  table = document.getElementById("listing");
  tr = table.getElementsByTagName("tr");
         for (i = 0; i < tr.length; i++) {
            td_price = tr[i].getElementsByTagName("td")[1];
            td_area = tr[i].getElementsByTagName("td")[2];
            td_pieces = tr[i].getElementsByTagName("td")[3];
             td_neighbour = tr[i].getElementsByTagName("td")[4];
             if (td_price) {

                 td_pricev= td_price.content || td_price.innerText;
                 td_areav= td_area.content || td_area.innerText;
                 td_piecesv= td_pieces.content || td_pieces.innerText;
                 td_neighbourv= td_neighbour.content || td_neighbour.innerText;
                 all = "All";
                     if(parseInt(price[1]) < parseInt(td_pricev) || parseInt(price[0]) > parseInt(td_pricev)
                         || parseInt(area[1]) < parseInt(td_areav) || parseInt(area[0]) > parseInt(td_areav)
                         || parseInt(pieces[1]) < parseInt(td_piecesv) || parseInt(pieces[0]) > parseInt(td_piecesv)
                      )
                      {     //if (td_neighbourv != neighbour ){
                                 tr[i].style.display = "none";
                         }
                     else
                         {
                             if(td_neighbourv == neighbour || "All" == neighbour)tr[i].style.display = "";
                             else
                             tr[i].style.display = "none";
                         }
                 }
             }
      }



  </script>
    <script>

      function criteria1() {
         var input, filter, table, neighbour, voisin,all, tr, td_price,td_area, td_pieces, td_neighbour, i, txtValue, td_pricev,td_areav, td_piecesv, td_neighbourv;
  var price = [];
  var pieces = [];
  var area = [];
  price= document.getElementById("srcprice").value.split(',');
  pieces= document.getElementById("srcpieces").value.split(',');
   area= document.getElementById("srcarea").value.split(',');

  document.getElementById("piecesmin").value = parseInt(pieces[0]);
          document.getElementById("piecesmax").value = parseInt(pieces[1]);
          document.getElementById("m2min").value = parseInt(area[0]);
          document.getElementById("m2max").value = parseInt(area[1]);
          document.getElementById("pricemin").value = parseInt(price[0]);
          document.getElementById("pricemax").value = parseInt(price[1]);
          document.getElementById("piecesmin1").value = parseInt(pieces[0]);
          document.getElementById("piecesmax1").value = parseInt(pieces[1]);
          document.getElementById("m2min1").value = parseInt(area[0]);
          document.getElementById("m2max1").value = parseInt(area[1]);
          document.getElementById("pricemin1").value = parseInt(price[0]);
          document.getElementById("pricemax1").value = parseInt(price[1]);

      }



  </script>


    <script>
      var slider = new Slider("#price", {
        min: min_price(),
        max: max_price(),
        value: [min_price(), max_price()],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#area", {
        min: min_area(),
        max: max_area(),
        value: [min_area(), max_area()],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#pieces", {
        min: min_pieces(),
        max: max_pieces(),
        value: [min_pieces(), max_pieces()],
        range: true,
        tooltip: 'always'
      });
            var slider = new Slider("#srcprice", {
        min: min_price(),
        max: max_price(),
        value: [min_price(), max_price()],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#srcarea", {
        min: min_area(),
        max: max_area(),
        value: [min_area(), max_area()],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#srcpieces", {
        min: min_pieces(),
        max: max_pieces(),
        value: [min_pieces(), max_pieces()],
        range: true,
        tooltip: 'always'
      });

      window.onload = criteria1();
    </script>




  </div>
  </body>
</html>