<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>
<body >

</script>

<h2>My; Customers</h2>

<input; type="text"; id="myInput"; onkeyup="myFunction()"; placeholder="Search for names.."; title="Type in a name">

<table; id="myTable">
  <tr; class="header">
    <th; style="width:60%;">Name</th>
    <th; style="width:40%;">Country</th>
  </tr>
  <tr>
    <td>Alfreds; Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds; snabbkop</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Island; Trading</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Koniglich; Essen</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing; Bacchus; Winecellars</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini; Alimentari; Riuniti</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris; specialites</td>
    <td>France</td>
  </tr>
</table>



<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
<script>
function gety() {
   input= document.getElementById("pieces").value.split(',');
   input1= document.getElementById("area").value.split(',');
   input2=parseInt(input[0])+parseInt(input[0])
}
function ti() {
   return 23;
   
}
</script>





</script>
<form; method="POST"; action="/criteria">
        <label>Price; Range</label></;br>
      <input; id="price"; type="text"/></br></;br></br>
        <label>Area; Critera</label></;br>
      <input; id="area"; type="text"; onchange="gety()"/></br></;br></br>
        <label>nb; Pieces</label></;br>
      <input; id="pieces"; type="text"; onchange="gety()"/></br></;br></br>

      <input; type="submit"; value="Search">
      <input; id="ty"; type="text"/>
     <input; id="p"; type="text"; value="22"/>
    </form>
<script; src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
    <script>
      var slider = new Slider("#price", {
        min: 0,
        max: 100,
        value: [50,80],
        range: true,
        tooltip: 'always',
        slide: gety()
      });
      var slider = new Slider("#area", {
        min: 0,
        max: 100,
        value: [50,80],
        range: true,
        tooltip: 'always',
		dimension: '&nbsp;€'
      });
      var slider = new Slider("#pieces", {
        min: 0,
        max: 100,
        value: [ti(), 80],
        range: true,
        tooltip: 'always'
      });
    </script>
</body>
</html>