
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
</head>
  <body>
  <table>
      <tr>
          <td>
 <div class="container">
    <h1>Add Appartment</h1>
    <form method="POST" action="/">
        Title </br>
      <input type="text" name="listing_title" required>
       </br>Price </br>
      <input type="number" min="0" step="0.01" name="listing_price" required></br></br>
        </br>Area in meter square: </br>
        <input type="number" min="0" step="1" name="listing_m2" required></br></br>
        </br>Nb of Pieces :</br>
        <input type="number" min="0" step="1" name="listing_pieces" required></br></br>
        </br>Neighborhood: </br>
        <input type="text" name="listing_neighborhood" required></br></br>
        </br>Link: </br>
        <input type="text" name="link_to_listing" required></br></br></br>

      <input type="submit" value="Add Appartment">
    </form>
     </td>

          <td>

    <form method="POST" action="/criteria">
        <label>Price Range</label></br>
      <input id="price" type="text"/></br></br></br>
        <label>Area Critera</label></br>
      <input id="area" type="text"/></br></br></br>
        <label>nb Pieces</label></br>
      <input id="pieces" type="text"/></br></br></br>

      <input type="submit" value="Search">
    </form>
          </td>

 </tr>
 </table>

    <h1>Appartments at paris</h1>

  <table class="table table-striped">


       <tr><th>Title</th>

       <th>Price </th>

        <th>Area in meter square </th>

        <th>Nb of Pieces </th>

        <th>Neighborhood </th>

           <th>Link </th><th></th><th></th></tr>
      
        <input type="hidden" value="" name="title_id">
        <td> 78</td>
        <td> 888.0</td>
            <td> 765</td>
            <td> 546</td>
            <td> 453</td>
            <td> <a href="545">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="2" name="title_id_up">
              <input type="hidden" value="78" name="listing_title_up">

      <input type="hidden" value="888.0" name="listing_price_up">

        <input type="hidden" value="765" name="listing_m2_up">

        <input type="hidden" value="546" name="listing_pieces_up">

        <input type="hidden" value="453" name="listing_neighborhood_up">

        <input type="hidden" value="545" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="2" name="title_id_del">
              <input type="hidden" value="78" name="listing_title_del">

      <input type="hidden" value="888.0" name="listing_price_del">

        <input type="hidden" value="765" name="listing_m2_del">

        <input type="hidden" value="546" name="listing_pieces_del">

        <input type="hidden" value="453" name="listing_neighborhood_del">

        <input type="hidden" value="545" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
      
        <input type="hidden" value="" name="title_id">
        <td> paris55</td>
        <td> 888.0</td>
            <td> 765</td>
            <td> 5</td>
            <td> 453</td>
            <td> <a href="http://wikipedia.org">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="8" name="title_id_up">
              <input type="hidden" value="paris55" name="listing_title_up">

      <input type="hidden" value="888.0" name="listing_price_up">

        <input type="hidden" value="765" name="listing_m2_up">

        <input type="hidden" value="5" name="listing_pieces_up">

        <input type="hidden" value="453" name="listing_neighborhood_up">

        <input type="hidden" value="http://wikipedia.org" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="8" name="title_id_del">
              <input type="hidden" value="paris55" name="listing_title_del">

      <input type="hidden" value="888.0" name="listing_price_del">

        <input type="hidden" value="765" name="listing_m2_del">

        <input type="hidden" value="5" name="listing_pieces_del">

        <input type="hidden" value="453" name="listing_neighborhood_del">

        <input type="hidden" value="http://wikipedia.org" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
      
        <input type="hidden" value="" name="title_id">
        <td> rtrrt</td>
        <td> 888.0</td>
            <td> 66</td>
            <td> 6</td>
            <td> dftgh</td>
            <td> <a href="http://wikipedia.org">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="9" name="title_id_up">
              <input type="hidden" value="rtrrt" name="listing_title_up">

      <input type="hidden" value="888.0" name="listing_price_up">

        <input type="hidden" value="66" name="listing_m2_up">

        <input type="hidden" value="6" name="listing_pieces_up">

        <input type="hidden" value="dftgh" name="listing_neighborhood_up">

        <input type="hidden" value="http://wikipedia.org" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="9" name="title_id_del">
              <input type="hidden" value="rtrrt" name="listing_title_del">

      <input type="hidden" value="888.0" name="listing_price_del">

        <input type="hidden" value="66" name="listing_m2_del">

        <input type="hidden" value="6" name="listing_pieces_del">

        <input type="hidden" value="dftgh" name="listing_neighborhood_del">

        <input type="hidden" value="http://wikipedia.org" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
      
        <input type="hidden" value="" name="title_id">
        <td> rtrrt34345</td>
        <td> 545.0</td>
            <td> 66</td>
            <td> 5</td>
            <td> dftgh</td>
            <td> <a href="http">View</a> </td>

        <td>
            <form method="GET" action="/update" style="display: inline">
                <input type="hidden" value="10" name="title_id_up">
              <input type="hidden" value="rtrrt34345" name="listing_title_up">

      <input type="hidden" value="545.0" name="listing_price_up">

        <input type="hidden" value="66" name="listing_m2_up">

        <input type="hidden" value="5" name="listing_pieces_up">

        <input type="hidden" value="dftgh" name="listing_neighborhood_up">

        <input type="hidden" value="http" name="link_to_listing_up">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="/delete" style="display: inline">
                <input type="hidden" value="10" name="title_id_del">
              <input type="hidden" value="rtrrt34345" name="listing_title_del">

      <input type="hidden" value="545.0" name="listing_price_del">

        <input type="hidden" value="66" name="listing_m2_del">

        <input type="hidden" value="5" name="listing_pieces_del">

        <input type="hidden" value="dftgh" name="listing_neighborhood_del">

        <input type="hidden" value="http" name="link_to_listing_del">
              <button type="submit" id="delete" class='btn btn-danger'>DELETE</button>
            </form>
          </td>
        </tr>
      
    </table>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
    <script>
      var slider = new Slider("#price", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#area", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });
      var slider = new Slider("#pieces", {
        min: 0,
        max: 100,
        value: [50, 80],
        range: true,
        tooltip: 'always'
      });
    </script>
  </body>
</html>