<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
  <body>
    <h1>update Appartment</h1>
    <form method="POST" action="/update">
        <input type="hidden" value="{{title_id_up}}" name="title_id">
        Title {{title_id_up}} </br>

      <input type="text" value="{{listing_title_up}}" name="listing_title" required>
       </br>Price </br>
      <input type="number" min="0" step="0.01" value="{{listing_price_up}}" name="listing_price" required>
        </br>Area in meter square: </br>
        <input type="number" min="0" step="1" value="{{listing_m2_up}}" name="listing_m2" required>
        </br>Nb of Pieces :</br>
        <input type="number" min="0" step="1" value="{{listing_pieces_up}}" name="listing_pieces" required>
        </br>Neighborhood: </br>
        <input type="text" value="{{listing_neighborhood_up}}" name="listing_neighborhood" required>
        </br>Link: </br>
        <input type="text" value="{{link_to_listing_up}}" name="link_to_listing" required></br>

      <input type="submit" value="update Appartment">
    </form>
  </body>
</html>